# System and IDE files
Thumbs.db
.DS_Store
.idea
*.suo
*.sublime-project
*.sublime-workspace
.vscode/
bucket_cors.json

# Vendors
node_modules/

# Build
dist/
/npm-debug.log

src/assets/artist_images/
src/assets/latent_space_background_8bit_light.png
