#game_canvas_container {
    width: 900px;
    height: 600px;
    /* margin: auto; */
    border: 1px solid black;
    /* background-color: white; */
}

.title-container {
    background-image: url("https://storage.googleapis.com/latentspacemuseum/assets/nav_bg.png");
}

h1 {
    color: white;
    padding-left: 10px;
    font-size: 72px;
}

body {
    background: #e0190b;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, #f33f05, #deb401, #00629e);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #f33f05, #deb401, #00629e);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #f33f05, #deb401, #00629e);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #f33f05, #deb401, #00629e);
    /* Standard syntax (must be last) */
}

.col-3 {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

#playButton {
    border: 1px solid black;
    border-radius: 10px;
    background: #f33f05;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, #f33f05, #deb401, #00629e);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #f33f05, #deb401, #00629e);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #f33f05, #deb401, #00629e);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #f33f05, #deb401, #00629e);
    /* Standard syntax (must be last) */
    color: #ffffff;
    padding: 20px;
    font-size: 3em;
    font-weight: bold;
}

select {
    border: 1px solid black;
    border-radius: 10px;
    background: #f33f05;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f33f05, #deb401);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f33f05, #deb401);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f33f05, #deb401);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f33f05, #deb401);
    /* Standard syntax (must be last) */
    color: #ffffff;
}

label {
    color: #ffffff;
}

hr {
    border: 1px solid black;
}

bold {
    color: #ffffff;
}

span {
    color: #ffffff;
}

a {
    color: #ffffff;
    padding: 5px;
    margin: 5px;
    font-size: 0.7em;
}

p {
    color: #ffffff;
    padding: 5px;
    margin: 5px;
    font-size: 0.7em;
}