#game_canvas_container {
    width: 100%;
    margin: 5px;
    /* border: 1px solid black; */
}

#mobile_warning_container {
    display: none;
}

#game_control_container {
    display: block;
    text-align: center;
    width: 100%;
    margin: 5px 5px 5px 10px;
    padding: 10px;
    border: 1px solid black;
}

@media screen and (max-width: 849px) {
    #playButton {
        display: none;
    }
    #mobile_warning_container {
        display: block;
        text-align: center;
        width: 80%;
        margin: 20px 20px 20px 20px;
        padding: 10px;
        border: 1px solid black;
    }
}

h1 {
    color: white;
    padding-left: 10px;
    font-size: 72px;
    /* text-shadow: 1px 1px black, -1px 1px black, 1px -1px black, -1px -1px black; */
    text-shadow: 1px 1px #00629e, 2px 2px #387777, 3px 3px #6F8B50, 4px 4px #A7A028, 5px 5px #deb401, 6px 6px #E39702, 7px 7px #E97A03, 8px 8px #EE5C04, 9px 9px #f33f05;
}

h4 {
    color: white;
    padding-left: 10px;
    text-align: left;
}

body {
    background: #e0190b;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, #f33f05, #deb401, #00629e);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #f33f05, #deb401, #00629e);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #f33f05, #deb401, #00629e);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #f33f05, #deb401, #00629e);
    /* Standard syntax (must be last) */
}

select {
    padding: 3px;
    margin: 3px;
    font-weight: bold;
}

#playButton {
    border: 1px solid black;
    border-radius: 10px;
    background: #f33f05;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, #f33f05, #deb401, #00629e);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #f33f05, #deb401, #00629e);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #f33f05, #deb401, #00629e);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #f33f05, #deb401, #00629e);
    /* Standard syntax (must be last) */
    color: #ffffff;
    padding: 10px, 30px, 10px, 30px;
    font-size: 2.5em;
    font-weight: bold;
}

select {
    border: 1px solid black;
    border-radius: 10px;
    background: #f33f05;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, #f33f05, #deb401, #00629e);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #f33f05, #deb401, #00629e);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #f33f05, #deb401, #00629e);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #f33f05, #deb401, #00629e);
    /* Standard syntax (must be last) */
    color: #ffffff;
}

label {
    color: #ffffff;
}

hr {
    border: 1px solid black;
}

bold {
    color: #ffffff;
}

span {
    color: #ffffff;
}

a {
    color: #ffffff;
    padding: 5px;
    margin: 0px;
    font-size: 1em;
}

p {
    color: #ffffff;
    padding: 5px;
    margin: 0px;
    font-size: 1em;
}